/*reglas
selectores
declaraciones 
propiedades
valores */
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}

h1{
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 0;
}
h1 strong{
  color: #026fff;
}

h2{
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}
ol,
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

figure{
  margin: 0;
}

.hero{
  height: 300px;
  background-image: url('../images/Mia.jpg');
  background-color: #1b2127;
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
  display: flex;
  align-items: center;
}

.portfolio{
  background: #fafafa;
  padding: 20px;
}

.project{
  /* border-top: 10px solid red;
  border-right: 10px solid red;
  border-left: 10px solid red;
  border-bottom: 10px solid red; */
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 20px;
  /* margin: 10px; */
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project strong{
  font-family: 'Fjalla One', sans-serif;
}

.project-title{
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 0;
}

.project-course,
.project-date,
.project-url{
  margin: 10px 0;
}

.project-description{
  font-size: 20px;
}
.project-details{
  width: 500px;
}

.project-imageContainer{
  width: 500px;
}

.header{
  background-color: #1b2127;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

/* .header a{ */
.link{
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px 0;
}

.menu{
  height: inherit;
}

.header ol{
  display: flex;
  height: inherit;
}

.header ol li{
  height: inherit;
}

.event-list-title{
  margin-left: 20px;
}

.event-list{
  display: flex;
  flex-wrap: wrap;
}

.event{
  margin: 10px;
  width: 480px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f4fbff;
}

.event img{
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-detail{
  margin: 20px 40px; 
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 15px;
  text-align: center;
}

.event-description{
  text-align: left;
}

.event-url{
  color: #056fff;
  border: 1px solid #056fff;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px; 
}

.contact{
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.social{
  
}

.social-link{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 5px;
}

.social-link.Linkedin{
  background-image: url('../images/Linkedin.svg');
  background-size: 50px 50px;
}

.social-link.facebook{
  background-image: url('../images/facebook.svg');
  background-size: 50px 50px;
}

.social-link.GitHub{
  background-image: url('../images/github.svg');
  background-size: 50px 50px;
}

.social-link.instagram{
  background-image: url('../images/instagram.svg');
  background-size: 50px 50px;
}

.form-email input{
  border-color: gray;
  border-radius: 5px;
  border-style: solid;
  padding: 10px 20px 5px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button{
  display: block;
  margin-top: 10px;
  background-color: transparent;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.form-email h3{
  font-family: 'Source Sans Pro', sans-serif;;
}


.footer{
  color: white;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.footer img{
  vertical-align: middle;
}

.footer a{
  color: white;
}